/*Tag Selector*/
body {
  background-color: #f3f4ed;
}

hr {
  border-style: dotted none none none;
  border-color: #c06014;
  border-width: 4px;
  width: 5%;
}

h3 {
  color: #c06014;
}

h1 {
  color: #c06014;
}
img {
  width: 150px;
  height: 180px;
}
/*Class Inspector*/
/* .billie {
  width: 150px;
  height: 180px;
} */

.drone {
  height: 150px;
  width: 180px;
}

/*ID Selector*/
#heading:hover {
  color: blue;
}
